{% extends "layout.html" %}

{% block content %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<h1>DOH Inspection Predictor Report for {{ prior[0].dba }}</h1>

<h2>Your cumulative chance of death</h2>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <canvas id="lineChart"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="mt-5">
    <h2>Prior violations for {{ prior[0].dba }}:</h2>
    {% for inspection in priorDict %}
    <div>
        <ul>
            <li>{{ inspection[:10] }}</li>
            <ul>
                {% for j in priorDict[inspection] %}
                <li>{{ j }}</li>
                {% endfor %}
            </ul>
        </ul>
    </div>
    {% endfor %}
</div>

<h2>Most commonly occuring violations in other restaurants near {{ prior[0].dba }} around this time of year.</h2>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <canvas id="barChart"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

var ctx2 = document.getElementById("barChart").getContext('2d');
var barChart = new Chart(ctx2, {
    type: "bar",
    data: {
        labels: {{ barLabels | safe }},
        datasets: [{
            label: "Highest Percentage Occurring Violations",
            backgroundColor: '#00008b',
            borderRadius: 7,
            data: {{ barValues | safe }},
                }]
        },
        options: {
            scales: {
            x: {  
                ticks: {
                display: false,
                }
            }
            },
            responsive: true
        }
    }); 
    </script>
    
    <script>
        var ctx = document.getElementById("lineChart").getContext("2d");

        var gradientStroke = ctx.createLinearGradient(0, 0, 0, 400);
            gradientStroke.addColorStop(0, '#f44336');

            gradientStroke.addColorStop(1, '#61FF33');

         var lineChart = new Chart(ctx, {
            type: "line",
            data: {
                labels: {{ labels | safe }},
                    datasets: [{
                    label: "Probability of death",
                    borderColor: gradientStroke,
                    pointBorderColor: gradientStroke,
                    pointBackgroundColor: gradientStroke,
                    pointHoverBackgroundColor: gradientStroke,
                    pointHoverBorderColor: gradientStroke,
                    pointBorderWidth: 5,
                    pointHoverRadius: 5,
                    pointHoverBorderWidth: 1,
                    pointRadius: 1,
                    fill: false,
                    borderWidth: 4,
                    data: {{ values | safe }}
                    }]
                },
            options: {
                responsive: true,
                scales: {
                y: {
                    suggestedMin: 0,
                    suggestedMax: 100
                }
            }
        }
    });
    </script>
{% endblock content %}
