{% extends "layout.html" %}
{% block content %}
<h1>Please select the restaurant you were searching for</h1>
<div class="m-4">
    <div class="list-group">
        {% for rest in rests %}
        <a href="{{ url_for('details', camis=rest.camis) }}" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h4>{{ rest.dba }}</h4>
            </div>
            <p>{{ rest.address }}</p>
        </a>
        {% endfor %}
    </div>
</div>
{% endblock content %}